@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.35);
  }
  100% {
    transform: scale(1);
  }
}

.bounce-enter {
  opacity: 0;
}

.bounce-enter-to {
  opacity: 1;
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
  transition: all 500ms ease-in-out;
}

.bounce-leave {
}

.bounce-leave-to {
}

.bounce-leave-active {
  transition: all 0ms ease-in-out;
}
.slide-left-enter-active,
.slide-left-active,.slide-right-enter-active,
.slide-right-active,
.slide-up-enter-active,
.slide-up-active,
.slide-down-enter-active,
.slide-down-active {
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}
.slide-left-enter {
  transform: translateX(100vw);
}
.slide-left-leave-to {
  transform: translateX(0);
}
.slide-right-enter {
  transform: translateX(-100vw);
}
.slide-right-leave-to {
  transform: translateX(0);
}
.slide-up-enter {
  transform: translateY(100vh);
}
.slide-up-leave-to {
  transform: translateY(0);
}
.slide-down-enter {
  transform: translateY(-100vh);
}
.slide-down-leave-to {
  transform: translateY(0);
}
.page-enter-active,
.page-leave-active {
  @include default-transition;
}
.page-enter,
.page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}
