$fire1: rgba(70, 137, 102, 1);
$fire2: rgba(255, 239, 165, 1);
$fire3: rgba(255, 175, 59, 1);
$fire4: rgba(182, 73, 38, 1);
$fire5: rgba(142, 40, 0, 1);

// Colors ///////////////
$brown:#a67040;
$orange: #f47920;
$red: #e74c3c;
$dk-red: #c12c25;
$purp: #aa3655;
$burg: #5b2d3c;
$blue: #027eb1;
$light-blue: #49a2c7;
$aqua: #02c7c6;
$green: #1fb16d;
$white: #fff;
$off-white: #efefef;
$lt-gray: #ccc;
$gray: #999;
$dk-gray: #494140;
$black: #000;

// Utility color variables ///////////////
$primary: $white;
$secondary: $black;
$tertiary: $dk-gray;
$quadrary: $fire5;
$quinary: $burg;

$link-color-normal: $black;
$link-color-active: $fire5;
$heading-color: $dk-gray;
$heading-alt-color: $burg;
$base-font-color: $dk-gray;

// bg gradients
$trans-right: linear-gradient(
  90deg,
  rgba($lt-gray, 1) 45%,
  rgba($lt-gray, 0) 100%
);
$trans-left: linear-gradient(270deg, rgba($lt-gray, 1) 45%, rgba($lt-gray, 0))
  100%;
$trans-down: linear-gradient(
    0deg,
    rgba($lt-gray, 1) 10%,
    rgba($lt-gray, 0.75) 30%,
    rgba($lt-gray, 0.3)
  )
  100%;

//gradient class
%white-gloss {
  //http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232
  background-color: $white; // Old browsers
  //@include filter-gradient(white, white, vertical); // IE6-9
  background-image: linear-gradient(
    to bottom,
    white 0%,
    $white1 50%,
    $white2 51%,
    white 100%
  );
}
