//------// Global Styles //------//
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Base HTML Elements.
html {
  // see https://snook.ca/archives/html_and_css/font-size-with-rem
  font-size: 62.5%;
}

html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-size: $base-font-size;
  color: $base-font-color;
  font-family: $body-font-family;
  font-weight: $normal;
  line-height: $base-line-height;
  position: relative;

  p {
    margin: 2rem 0 2.5rem;
  }
}
.__layout .wrapper {
  min-height: calc(100vh - 100px);
} // @TODO remove after done DEV DEBUGGING
a,
a:visited {
  //   border-bottom: 1px inset $link;
  text-decoration: none;
  font-weight: $normal;
  @include textLink();
  //   &:hover {
  //     color: $light-blue;
  //     border-color: $light-blue;
  //   }
}

strong,
b {
  font-weight: $bold;
}

i,
em {
  font-style: italic;
}

sup,
sub {
  font-size: 1.3rem;
}

u {
  text-decoration: underline;
}

// Responsive Images
img,
svg {
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 2rem;
  margin-bottom: 4rem;
  margin-left: 2rem;

  li {
    margin: 5px 0 6px;
  }
}

ul,
ol {
  &.unstyle {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &[class^='menu'] {
    margin: 0 0 3rem 0;
    padding: 0;
    list-style-type: none;

    li {
      padding: 0 0.75rem;
      border: 0;
      margin: 0;
    }

    a,
    button,
    button span {
      padding: 0;
      margin: 0;
      font-family: $heading-font-family;
      line-height: 2.1rem;
      text-decoration: none;
      border-bottom: none;

      &:visited {
        text-decoration: none;
        border-bottom: none;
      }

      @include textLink($black, $dk-gray);
    }
  }
}

blockquote {
  font-style: italic;
  font-size: 3rem;
  line-height: 1.67;
  margin: 0;
  padding: 3rem 2rem;
  position: relative;

  &::before {
    font-size: 3.2rem;
    content: '\201C';
    position: absolute;
    left: 0;
    top: 3rem;
  }

  @media #{$mq-lg} {
    font-size: 3.4rem;
    line-height: 1.59;
  }

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Headings
//
// Markup: headlines.twig
//
// Style guide: atf.headlines

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

h6 {
  @include h6;
}

.mobile-toggle {
  background: $primary;
  display: none;
  max-height: 55px;
  position: relative;
  z-index: 100;
  width: 100%;
  &.hamburger {
    &:hover,
    &:active,
    &:visited,
    &.is-active {
      opacity: 1;
    }
  }
  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

header {
  position: fixed;
  background: white;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  .main-nav {
    @include set-max-width;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 80px;
    padding-bottom: 20px;
    color: black;
    @media (max-width: ($bp-mw + 100)) {
      padding: 0 25px 20px;
    }
    a {
      margin: 0 25px;
      font-size: 18px;
      text-decoration: none;
    }
    > a:first-child {
      margin-left: 0;
    }
    > a:last-child {
      margin-right: 0;
    }
    .mid-links {
      @media (max-width: 500px) {
        display: none;
      }
    }
  }
}

footer {
  background: white;
  padding: 10px;
  width: 100%;
  position: sticky;
  left: 0;
  bottom: 0;
  transform: translateY(0);
  transition: transform 200ms ease-out;
  &.hide {
    transform: translateY(105%);
  }
  .contact a {
    margin: 0 10px;
    font-size: 1.5em;
    &:hover {
      text-decoration: none;
    }
  }
  .mw-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    @include set-max-width;
  }
  .cell {
    @include not-mobile {
      flex: 1 1 auto;
      //   @include flexchild(1, 1, auto);
    }
    &.copy {
      @media (max-width: 550px) {
        order: 1;
      }
    }
  }
}

.back-to-top {
  opacity: 0;
  font-size: 0.75em;
  position: fixed;
  cursor: pointer;
  bottom: 0;
  right: 0;
  display: inline-block;
  padding: 1em;
  margin: 1em;
  background: rgba(white, 0.75);
  border: 1px solid rgba(black, 0.4);
  transition: all 0.25s linear;
  border-radius: 4px;
  z-index: 3;
  :hover {
    border-radius: 4px;
    background: white;
    border: 1px solid black;
    cursor: pointer;
  }
}
