//------// Global Styles //------//

*,
*:before,
*:after {
  box-sizing: border-box !important;
}

* {
  transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
}

body,
html {
  font-family: $fontBody;
  //font-size: $base-font-size;
  height: 100%;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

a {
  color: initial;
  text-decoration: none;
  &:hover {
    color: $dk-grey;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $fontHead;
  font-weight: 500;
}
.mobile-toggle {
  background: $primary;
  display: none;
  max-height: 55px;
  position: relative;
  z-index: 100;
  width: 100%;
  &.hamburger {
    &:hover,
    &:active,
    &:visited,
    &.is-active {
      opacity: 1;
    }
  }
  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
a[name="intro"],
a[name="portfolio"],
a[name="contact"] a[name="about"] {
  // transform: translateY(-80px);
  display: block;
  width: 100%;
  height: 0;
}
section {
  display: block;
  height: calc(100vh - 138px);
  margin-top: 71px;
  padding: 0 7%;
}
header {
  position: fixed;
  background: white;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  .main-nav {
    @include set-max-width;
    @include flex(space-between, flex-end);
    width: 100%;
    height: 80px;
    padding-bottom: 20px;
    color: black;
    @media (max-width: ($bp-mw + 100)) {
      padding: 0 25px 20px;
    }
    a {
      margin: 0 25px;
      font-size: 18px;
      text-decoration: none;
    }
    > a:first-child {
      margin-left: 0;
    }
    > a:last-child {
      margin-right: 0;
    }
    .mid-links {
      @media (max-width: 500px) {
        display: none;
      }
    }
  }
}

footer {
  background: white;
  padding: 10px;
  width: 100%;
  position: sticky;
  left: 0;
  bottom: 0;
  transform: translateY(0);
  transition: transform 200ms ease-out;
  &.hide {
    transform: translateY(105%);
  }
  .contact a {
    margin: 0 10px;
    font-size: 1.5em;
    &:hover {
      text-decoration: none;
    }
  }
  .mw-wrapper {
    @include flex(space-between, flex-end, $wrap: wrap);
    @include set-max-width;
  }
  .col {
    @include not-mobile {
      @include flexchild(1, 1, auto);
    }
    &.copy {
      @media (max-width: 550px) {
        order: 1;
      }
    }
  }
}

.back-to-top {
  opacity: 0;
  font-size: 0.75em;
  position: fixed;
  cursor: pointer;
  bottom: 0;
  right: 0;
  display: inline-block;
  padding: 1em;
  margin: 1em;
  background: rgba(white, 0.75);
  border: 1px solid rgba(black, 0.4);
  transition: all 0.25s linear;
  border-radius: 4px;
  z-index: 3;
  :hover {
    border-radius: 4px;
    background: white;
    border: 1px solid black;
    cursor: pointer;
  }
}

ul {
  list-style: none;
  @include marding;
  li {
    @include marding;
  }
}

.screen-reader {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.tooltip * {
  border: none !important;
}

.flex {
  @include flex;
  &.col {
    @include flex($direction: column);
    &.start {
      @include flex(flex-start, center, $direction: column);
    }
  }
  &.start {
    @include flex(flex-start, center, $wrap: wrap);
  }
  &.wrap {
    @include flex(flex-start, flex-start, $wrap: wrap);
  }
  &.sb {
    @include flex(space-between, $wrap: wrap);
  }
}
.center,
.flex-middle {
  @include flex($direction: column);
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .row-1 {
    grid-row: 1;
  }
  .row-2 {
    grid-row: 2;
  }
  .row-3 {
    grid-row: 3;
  }
  .span-1 {
    grid-column-end: span 1;
  }
  .span-2 {
    grid-column-end: span 2;
  }
  .span-3 {
    grid-column-end: span 3;
  }
  .col-full {
    grid-column-start: 1;
    grid-column-end: span 3;
  }
  .col-center {
    grid-column-start: 2;
  }
  .col-left {
    grid-column-start: 1;
  }
  .col-right {
    grid-column-start: 3;
  }
}
.add-top {
  margin-top: 20px;
}
.remove-top {
  margin-top: 0;
  padding-top: 0;
}
.add-bottom {
  margin-bottom: 20px;
}
.remove-bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
.max-pg-width {
  @include set-max-width;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.bdr {
  border: $bdr;
}

//layout debugging (dev only)
.ul {
  @include marding();
  border-bottom: 2px solid white;
}

.r45 {
  transform: rotate(-45deg);
}

.uc,
.all-caps {
  text-transform: uppercase;
}
.caps {
  text-transform: capitalize;
}
.bold {
  font-weight: 700;
}
.center-text {
  text-align: center;
}
.full-width {
  display: block;
  width: 100%;
}
img {
  &.maxw {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  &.txt {
    max-height: 28px;
    height: auto;
    max-width: 100%;
    display: inline-block;
  }
}
.space-bottom {
  padding-bottom: 50%;
}
.aspect-spacer {
  width: 100%;
  height: 0;
  padding: 0 0 57% 0;
  transition: padding-bottom 1s ease;
}
.color {
  &.primary {
    color: $primary;
  }
  &.secondary {
    color: $secondary;
  }
}
.fill {
  &.primary {
    background-color: $primary;
  }
  &.secondary {
    background-color: $secondary;
  }
}

// .bgcolor {
//   &.lt-gray {
//     background: $lt-gray;
//   }
//   &.white {
//     background: #fff;
//   }
//   &.gray {
//     background: $gray;
//   }
//   &.aqua {
//     background: $aqua;
//   }
// }
// .color {
//   &.white {
//     color: #fff;
//   }
//   &.lt-gray {
//     color: $lt-gray;
//   }
//   &.gray {
//     color: $gray;
//   }
//   &.aqua {
//     color: $aqua;
//   }
// }
.flex-col {
  @include flex($direction: column);
  &.start {
    @include flex(flex-start, $direction: column);
  }
  &.end {
    @include flex(flex-end, $direction: column);
  }
}
.flex-row {
  &:not(.nowrap) {
    @include flex($wrap: wrap);
  }
  @include flex;
  &.start,
  &.left {
    @include flex(flex-start, $wrap: wrap);
  }
  &.end,
  &.right {
    @include flex(flex-end, $wrap: wrap);
  }
}
//hr {
//	&.star-dark, &.star-light {
//		max-width: 15rem;
//		padding: 0;
//		text-align: center;
//		border: none;
//		border-top: solid .25rem;
//		margin-top: 2.5rem;
//		margin-bottom: 2.5rem;
//		&:after {
//			position: relative;
//			top: -.8em;
//			display: inline-block;
//			padding: 0 .25em;
//			content: '\f005';
//			font-family: $fontIcon;
//			font-size: 2em;
//		}
//	}
//	&.star-light {
//		border-color: #fff;
//		&:after {
//			color: #fff;
//			background-color: #18bc9c;
//
//		}
//		background-color: #18bc9c;
//	}
//	&.star-dark {
//		border-color: #2c3e50;
//		&:after {
//			color: #2c3e50;
//			background-color: #fff;
//		}
//	}
//}

.dir-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  img:not(.logo) {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  > .img {
    display: block;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0 0 63% 0;
  }
  .hover {
    background-color: rgba(#000, 0.7);
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
  }
}
