$color-pack: true !default;
$serif-stack: '"Georgia", "Times", "Times New Roman", serif';
$sans-serif-stack: '"Helvetica Neue", "Helvetica", "Arial", sans-serif';
$yanone-font: 'Yanone Kaffeesatz', #{$sans-serif-stack};
// $roboto-font: 'Roboto', #{$sans-serif-stack};
// $monserrat-font: 'Montserrat', #{$sans-serif-stack};
$libre-font: 'Libre Baskerville', #{$serif-stack};
$body-font-family: $yanone-font;
$heading-font-family: $libre-font;
$font-size-root: 16px !default;
$line-height-root: 1.5 !default;
$border-radius-root: 4px !default;